@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

body{
	font-family:'open_sanslight';
	color:#333;
}

.wrapper{
	margin:0 auto;
	width:960px;
	max-width:960px;
	padding:0 10px;
}

.row{
	display:block;
	width:100%;
	margin:10px 0 0;
}

.header{
	display:inline-block;
	vertical-align:middle;
	width:70px;
	border:1px solid #ecf0f1;
	padding:10px;
	border-radius:50px;
	margin-right:10px;
}

.header-img{
	height:50px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.data{
	display:inline-block;
	vertical-align:middle;
	font-size:24px;
}

.start-time, .end-time{
	width:150px;
	border:1px solid #ecf0f1;
	display:inline-block;
	padding:5px 10px;
	margin-top:10px;
}

.start-time{
	margin-right:10px;
}

.end-time{
	margin-left:10px;
}

#projects a{
	color:rgb(82, 154, 182);
	text-decoration:none;
}
.title, .data{
	display:inline-block;
}

.title{
	width:200px;
}

.left{
	float:left;
	width:49%;
	margin-right:2%;
	background:#ecf0f1;
	padding-bottom:15px;
}

.right{
	float:left;
	width:49%;
	background:#f1c40f;
	padding-bottom:15px;
}

h2{
	font-size:18px;
	color:#fff;
	margin-top:0;
	padding:10px;
}

.left h2{
	background:#95a5a6;
}

.right h2{
	background:#f39c12;
}

.demand{
	font-size:24px;
	margin:10px 0;
}

.demand .data{
	color:#e74c3c;
	font-size:32px;
}

.title{
	padding-left:10px;
}